@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto+Mono&family=Titillium+Web:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Autour+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #282727;
  max-width: 100dvw;
  max-height: 100dvh;
}

:root {
  --primary-font-family: "Roboto Mono", monospace;
  --primary-font-color: #d7dedc;
  --primary-bkg-color: #7a3b69;
  --secondary-bkg-color: #d7dedc;
  --secondary-font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
}

.generic-button {
  display: inline-block;
  margin: 0.3rem;
  border-radius: 0.625rem;
  padding: 0.525rem;
  background-color: var(--primary-bkg-color);
  color: var(--primary-font-color);
  font-family: var(--primary-font-family);
  font-size: 1.6rem;
  text-align: center;
}

.generic-button:hover {
  transform: scale(1.1);
  background-color: #9a879d;
}

.body__container--wrapper {
  margin:1rem auto;
  max-width: 1500px;
}

.body__container--wrapper-index {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 0.313rem;
}

.body__container--wrapper2 {
  margin: 4rem auto;
  max-width: 1500px;
}

/* nav */ /* nav */ /* nav */ /* nav */ /* nav */ /* nav */ /* nav */ /* nav */ /* nav */ /* nav */ /* nav */

.nav--index {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7a3b69;
}

.nav__img {
  width: 22rem;
  height: auto;
  margin: 0.313rem 3.75rem;
  border-radius: 0.625rem;
  opacity: 80%;
}

.nav__list {
  list-style-type: none;
  display: flex;
  margin-right: 3rem;
}

.nav__list__item {
  padding: 1.2rem;
  font-family: var(--primary-font-family);
  font-size: 1.675rem;
}

.nav__list__item:hover {
  transform: scale(1.2);
  background-color: #9a879d;
}

.nav__list__item--compass {
  background-color: #563440;
}

.hamburger-icon,
.hamburger-menu {
  display: none;
  list-style-type: none;
}

.hamburger-menu.active {
  display: block;
}

/* header */ /* header */ /* header */ /* header */ /* header */ /* header */ /* header */ /* header */ /* header */ /* header */

.header__hero {
  background-image:bonzai-assets/assets/photos/09-day.jpg;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px auto;
  width: 100%;
  height: 800px;
}

.header__hero-index {
  grid-column: 1 / 7;
  grid-row: 3 / 7;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.header__hero--wrapper {
  margin-top: 18.75rem;
  width: 100%;
  background-color: rgba(154, 135, 157, 0.5);
  text-align: center;
  padding: 2.625rem;
}

.header__hero__title {
  font-family: var(--primary-font-family);
  font-size: 3.3rem;
}

/* main */ /* main */ /* main */ /* main */ /* main */ /* main */ /* main */ /* main */ /* main */ /* main */ /* main */

.main__content {
  grid-column: 1 / 7;
  grid-row: 7 / 7;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0.613rem;
}

.main__article--wrapper {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.313rem;
}

.main__article {
  background-color: var(--secondary-bkg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__article h2 {
  margin-top: 1.25rem;
  color: #563440;
  font-family: var(--primary-font-family);
  text-decoration: overline;
}

.main__article__par {
  padding: 1.563rem;
  text-align: center;
  font-size: 1.25rem;
  font-family: var(--secondary-font-family);
  font-weight: 500;
}

.main__article__evening {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.main__article__adventure {
  background-color: #9a879d;
  color: #d7dedc;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 0;
}

.main__article__travel {
  background-color: #9a879d;
  color: #d7dedc;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.article-evening__party {
  grid-column: 2 / 2;
  grid-row: 2 / 3;
}

.main__aside__aboutUs {
  background-color: #282727;
  grid-column: 5 / 7;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: solid 10px var(--primary-bkg-color);
}

.main__aside__aboutUs__title {
  margin-top: 1.25rem;
  font-size: 1.625rem;
  font-family: var(--primary-font-family);
  color: var(--primary-font-color);
  text-align: center;
}

.main__aside__aboutUs__img {
  margin-top: 0.063rem;
  width: 26.25rem;
  border-radius: 0.75rem;
}

.main__aside__aboutUs__par {
  padding: 1.563rem;
  text-align: center;
  font-size: 1.25rem;
  font-family: var(--primary-font-family);
  color: var(--primary-font-color);
}

.main__aside__aboutUs__logo {
  width: 260px;
}

/* footer */ /* footer */ /* footer */ /* footer */ /* footer */ /* footer */ /* footer */ /* footer */

.footer__rooms {
  padding: 3.125rem;
  grid-column: 1 / 7;
  grid-row: 9 / 10;
  background-color: rgba(215, 222, 220, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer__rooms__explorer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer__rooms__explorer__title {
  font-family: var(--primary-font-family);
  color: var(--primary-bkg-color);
  font-size: 2.275rem;
}

.footer__rooms__explorer__img {
  padding: 0.625rem;
  width: 22.125rem;
  height: 22.125rem;
  border-radius: 50%;
  border: solid 4px var(--primary-bkg-color);
}

.footer__rooms__explorer__title--special {
  display: inline-block;
  background-color: #9a879d;
  color: var(--primary-bkg-color);
  padding: 0.875rem;
}

.footer__rooms__explorer__title--special:hover {
  transform: scale(1.1);
  color: white;
}

.footer__rooms__explorer__img-wrapper {
  margin: 50px auto;
}
.footer__rooms__contacts {
  width: 100%;

  background-color: #9a879d;
}

.footer__rooms__contacts__list {
  list-style-type: none;
}

.footer__rooms__contacts__list__item {
  color: var(--primary-font-color);
  font-size: 22px;
  font-family: var(--primary-font-family);
  padding: 1.275rem;
  text-align: center;
}

.footer__rooms__contacts__title {
  margin-top: 1.875rem;
  font-family: var(--primary-font-family);
  color: var(--primary-bkg-color);
  font-size: 2.275rem;
  text-align: center;
}

/* resort */ /* resort //* resort */ /* resort */ /* resort */ /* resort */ /* resort */ /* resort */ /* resort */ /* resort */

.body__container--wrapper-resort {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aside__gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.75rem;
  max-width: 100%;
  margin: 0;
}

.aside__gallery__img {
  padding: 0.213rem;
  height: 7.98rem;
}

.aside__gallery__img:hover {
  transform: scale(1.3);
}

.body__container__section {
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0.6rem;
}

.body__container__section__title {
  font-size: 3.375rem;
  color: var(--primary-font-color);
  font-family: var(--primary-font-family);
}

.body__container__section h3 {
  font-size: 2.125rem;
  color: var(--primary-bkg-color);
  font-family: var(--primary-font-family);
}

.main__article-resort p {
  text-align: center;
  padding: 30px;
  font-family: var(--secondary-font-family);
  font-size: 28px;
}

/* rooms */ /* rooms */ /* rooms */ /* rooms */ /* rooms */ /* rooms */ /* rooms */ /* rooms */

/* search area */ /* search area */ /* search area */ /* search area */ /* search area */ /* search area */

.header__hero-rooms {
  max-width: 1500px;
}

.body__container--wrapper-rooms {
  display: flex;
  flex-direction: column;
}

.search-container {
  background-color: var(--secondary-bkg-color);
}

.search-container__title {
  text-align: center;
  margin-top: 1.25rem;
  font-family: var(--primary-font-family);
  font-size: 2.45rem;
  color: var(--primary-bkg-color);
}

.search-container__form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px auto;
}

.search-container__form-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container__form-flex label {
  margin-bottom: 10px;
  font-family: var(--primary-font-family);
  color: var(--primary-bkg-color);
  font-size: 1.875rem;
}

.search-container__form-flex select {
  width: 14.375rem;
  height: 3.125rem;
}

.search-container__form-flex input {
  width: 12.5rem;
}

#guests,
#room-type,
#guests > option,
#room-type > option {
  font-family: var(--primary-font-family);
  color: var(--primary-bkg-color);
  font-size: 1.75rem;
}

#room-max-size {
  font-size: 1.75rem;
}

.form__checkbox-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#room-size {
  margin-bottom: 10px;
  font-size: 1.75rem;
}

.search-container__btn {
  margin-left: 700px;
  margin-bottom: 30px;
}

.room-gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.5rem;
  max-width: 1500px;
  margin: 1.5rem auto;
}

/* gallery */ /* gallery */ /* gallery */ /* gallery */ /* gallery */ /* gallery */ /* gallery */ /* gallery */ /* gallery */

.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 1rem;
}

.gallery-container__item {
  background-color: var(--secondary-bkg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-container__item--wrapper {
  width: 21.875rem;
  height: 18.75rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.presidential-room {
  background-image: url(.//bonzai-assets/assets/photos/02-day.jpg);
}

.family-deluxe {
  background-image: url(.//bonzai-assets/assets/photos/01-day.jpg);
}

.double-deluxe {
  background-image: url(.//bonzai-assets/assets/photos/03-night.jpg);
}

.family-standard {
  background-image: url(.//bonzai-assets/assets/photos/04-night.jpg);
}

.family-basic {
  background-image: url(.//bonzai-assets/assets/photos/05-day.jpg);
}

.double-standard {
  background-image: url(.//bonzai-assets/assets/photos/06-day.jpg);
}

.single-deluxe {
  background-image: url(.//bonzai-assets/assets/photos/07-night.jpg);
}

.family-economy {
  background-image: url(.//bonzai-assets/assets/photos/08-night.jpg);
}
.double-basic {
  background-image: url(.//bonzai-assets/assets/photos/08-day.jpg);
}

.single-standard {
  background-image: url(.//bonzai-assets/assets/photos/01-night.jpg);
}

.double-economy {
  background-image: url(.//bonzai-assets/assets/photos/02-night.jpg);
}
.single-basic {
  background-image: url(.//bonzai-assets/assets/photos/04-day.jpg);
}

.gallery-container__item__title {
  background-color: var(--primary-bkg-color);
  font-family: var(--primary-font-family);
  color: var(--primary-font-color);
  padding: 0.438rem;
  font-size: 1.875rem;
  font-weight: 400;
}

.gallery-container__item__footer {
  text-align: center;
  width: 21.875rem;
  font-size: 1.875rem;
  font-weight: 700;
  color: var(--primary-bkg-color);
  font-family: var(--primary-font-family);
  background-color: var(--primary-font-color);
  padding: 7px;
}

/* presidential-room */ /* presidential-room */ /* presidential-room */ /* presidential-room */ /* presidential-room */

/* header */ /* header */ /* header */ /* header */ /* header */ /* header */ /* header */ /* header */

.header__hero-presidential {
  background-image: url(../BonzAi/bonzai-assets/assets/photos/02-day.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px auto;
  width: 1500px;
  height: 800px;
  grid-column: 1 / 7;
  grid-row: 3 / 7;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

/* main*/ /* main*/ /* main*/ /* main*/ /* main*/ /* main*/ /* main*/ /* main*/ /* main*/ /* main*/

.main__room-container {
  background-color: var(--primary-bkg-color);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  grid-template-rows: 21.875rem 34.375rem 25rem;
  grid-template-areas:
    "gallery gallery gallery gallery gallery gallery"
    "details details details details info info"
    "extras extras extras extras extras extras";
}

.main__room-gallery {
  grid-area: gallery;
  display: flex;
  justify-content: space-around;
  margin-top: 110px;
}

.main__room-gallery > img {
  width: 26.25rem;
  height: 13.75rem;
  border-radius: 0.625rem;
}

.main__room-gallery > img:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.main__room-details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.875rem;
}

.main__room-info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
}

.main__room-title {
  padding-bottom: 0.625rem;
  font-size: 2.25rem;
  color: #9a879d;
  font-family: var(--primary-font-family);
}

.main__room-par {
  margin-left: 1.25rem;
  padding-top: 1.875rem;
  font-size: 1.625rem;
  color: #282727;
  font-weight: 900;
  font-family: var(--primary-font-family);
  text-align: justify;
}

.main__room-list {
  padding-top: 1.875rem;
  padding-bottom: 6.25rem;
  list-style-type: none;
  font-size: 1.625rem;
  color: var(--primary-font-color);
  font-family: var(--primary-font-family);
}

.main__room-extras {
  grid-area: extras;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.main__room-list2 {
  font-size: 1.625rem;
  color: var(--primary-font-color);
  font-family: var(--primary-font-family);
}

/* contacts */ /* contacts */ /* contacts */ /* contacts */ /* contacts */ /* contacts */ /* contacts */

.body__container--wrapper-contacts {
  display: flex;
  flex-direction: column;
  width: 1500px;
}

.contacts__form--wrapper {
  background-color: #563440;
}

.contacts__form {
  border-radius: 20px;
  font-size: 22px;
  margin: 60px auto 60px auto;
  background-color: #7a3b69;
  display: flex;
  flex-direction: column;
  width: 56.25rem;
  height: 37.5rem;
}

.contacts__form label {
  text-align: center;
  font-size: 1.875rem;
  color: var(--primary-font-color);
  padding: 0.625rem;
}

#name,
#email {
  align-self: center;
  width: 31.25rem;
  height: 4.375rem;
}
#name[type="text"],
#email[type="email"] {
  font-size: 1.625rem;
}

.contacts__form textarea {
  align-self: center;
  width: 31.25rem;
  height: 21.875rem;
  font-size: 1.62rem;
}

.contacts__form-submit {
  background-color: #9a879d;
  color: #d7dedc;
  font-size: 22px;
  margin: 20px auto;
  align-self: center;
  width: 12.5rem;
  height: 3.125rem;
}

/* about us */ /* about us */ /* about us */ /* about us */ /* about us */ /* about us */ /* about us */

.body__container--wrapper-aboutUs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-container__section {
  background-image: url(../BonzAi/bonzai-assets/assets/photos/09-night.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.main-container__section__title {
  padding: 0.925rem;
  font-size: 2rem;
  font-family: var(--primary-font-family);
  color: black;
  text-align: center;
}

.main-container__section__par {
  background-color: rgb(154, 135, 157, 0.3);
  text-align: justify;
  font-size: 1.325rem;
  font-family: var(--secondary-font-family);
  color: white;
  font-weight: 600;
  padding: 2.25rem;
}

.section__par__span {
  background-color: rgb(154, 135, 157, 0.3);
  font-size: 1.625rem;
  font-family: var(--secondary-font-family);
  color: black;
  font-weight: 800;
}

/* booking*/ /* booking*/ /* booking*/ /* booking*/ /* booking*/ /* booking*/ /* booking*/ /* booking*/

.book-container__btn {
  margin-left: 37.5rem;
  margin-bottom: 7.5rem;
}

.search-container__form-flex input {
  width: 200px;
  height: 40px;
  font-size: 1.62rem;
}

.search-container__form-flex select {
  font-size: 1.62rem;
}

#mobile-nav {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1500px) {
  .body__container--wrapper,
  .body__container--wrapper2 {
    max-width: 1360px;
  }

  .body__container--wrapper-rooms {
    display: flex;
    flex-direction: column;
    max-width: 1360px;
  }

  .body__container--wrapper-index {
    display: flex;
    flex-direction: column;
  }

  .body__container--wrapper-index header {
    max-width: 1360px;
  }

  .aside__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.75rem;
    max-width: 100%;
    margin: 50px;
  }

  .header__hero {
    background-image: url(../BonzAi/bonzai-assets/bkg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: fit-content;
  }

  .header__hero-presidential {
    max-width: 100%;
  }

  .header__hero--wrapper-pr-room {
    margin-top: 180px;
  }

  .aside__gallery__img {
    padding: 0.313rem;
    width: 100%;
  }

  .header__hero-rooms {
    width: 100%;
  }

  .gallery-container__item {
    margin: auto;
    max-width: 300px;
    max-height: 300px;
  }

  .gallery-container__item--wrapper {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    max-width: 320px;
    max-height: 320px;
    margin-left: 6px;
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery-container__item__footer {
    width: 100%;
    font-size: 1rem;
    padding: 2px;
  }

  .nav--index {
    flex-direction: column;
  }

  .main__aside__aboutUs__img {
    max-width: 220px;
  }

  .main__content {
    display: flex;
    flex-direction: column;
  }

  .footer__rooms__explorer__img {
    max-width: 200px;
    max-height: 200px;
  }

  .header__hero--wrapper-index,
  .header__hero--wrapper-rooms {
    margin-top: 20px;
  }

  .search-container {
    display: flex;
    flex-direction: column;
  }

  .search-container__form {
    display: flex;
    flex-direction: column;
  }

  .search-container__btn,
  .book-container__btn {
    margin: 0;
  }

  .body__container--wrapper-contacts {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .contacts__form--wrapper {
    max-width: 100%;
  }

  .contacts__form--wrapper form {
    max-width: 100%;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .nav__list {
    display: none;
  }

  .nav--index {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .hamburger-menu li {
    background-color:#9a879d;
    padding: 6px;
  }

  .hamburger-icon {
    display: block;
    font-size: 20px;
  }

  .nav__img {
    align-self: center;
    border-radius: 10px;
  }

  .body__container--wrapper,
  .body__container--wrapper2 {
    max-width: 768px;
  }

  .body__container--wrapper-rooms {
    display: flex;
    flex-direction: column;
    max-width: 1360px;
  }

  .body__container--wrapper-index {
    display: flex;
    flex-direction: column;
  }

  .body__container--wrapper-index header {
    max-width: 1360px;
  }

  .body__container__section__title {
    text-align: center;
  }

  .body__container--wrapper-pr-room {
    display: block;
    flex-direction: column;
    justify-content: center;
  }

  .header__hero {
    background-image: url(../BonzAi/bonzai-assets/bkg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: fit-content;
  }

  .header__hero-presidential {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .header__hero-presidential .header__hero__title {
    font-size: 30px;
  }

  .header__hero--wrapper-pr-room {
    margin-top: 180px;
  }

  .aside__gallery {
    display: none;
  }

  .aside__gallery__img {
    padding: 0.313rem;
    width: 100%;
  }

  .header__hero-rooms {
    width: 100%;
  }

  .gallery-container__item {
    margin: auto;
    max-width: 300px;
    max-height: 300px;
  }

  .gallery-container__item--wrapper {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    max-width: 320px;
    max-height: 320px;
    margin-left: 6px;
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery-container__item__footer {
    width: 100%;
    font-size: 1rem;
    padding: 2px;
  }

  .main__aside__aboutUs__img {
    max-width: 220px;
  }

  .main__content {
    display: flex;
    flex-direction: column;
  }

  .main__article--wrapper {
    display: flex;
    flex-direction: column;
  }

  .footer__rooms__explorer {
    display: none;
  }

  .header__hero--wrapper-index,
  .header__hero--wrapper-rooms {
    margin-top: 20px;
  }

  .search-container {
    display: flex;
    flex-direction: column;
  }

  .search-container__form {
    display: flex;
    flex-direction: column;
  }

  .search-container__btn,
  .book-container__btn {
    margin: 0;
  }

  .body__container--wrapper-contacts {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .contacts__form--wrapper form {
    max-width: 100%;
  }

  .contacts__form--wrapper input, 
  .contacts__form--wrapper textarea {
    max-width: 70%;
  }

  .main__room-container {
    display: flex;
    flex-direction: column;
  }

  .main__room-list2 {
    padding: 50px;
    list-style-type: none;

  }

  .main__room-gallery {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .main__room-gallery img {
    width: 300px;
    height: 200px;
    
  }
}


@media screen and (max-width: 359px) {

  .nav__img {
    max-width: 100%;
  }

  .nav__list {
    display: none;
  }

  .nav--index {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .hamburger-menu li {
    background-color:#9a879d;
    padding: 6px;
  }

  .hamburger-icon {
    display: block;
    font-size: 20px;
  }

  .nav__img {
    align-self: center;
    border-radius: 10px;
  }

  .body__container--wrapper,
  .body__container--wrapper2 {
    max-width: 768px;
  }

  .body__container--wrapper-rooms {
    display: flex;
    flex-direction: column;
    max-width: 1360px;
  }

  .body__container--wrapper-index {
    display: flex;
    flex-direction: column;
  }

  .body__container--wrapper-index header {
    max-width: 1360px;
  }

  .body__container__section__title {
    text-align: center;
  }

  .body__container--wrapper-pr-room {
    display: block;
    flex-direction: column;
    justify-content: center;
  }

  .header__hero {
    background-image: url(../BonzAi/bonzai-assets/bkg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: fit-content;
  }

  .header__hero-presidential {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .header__hero-presidential .header__hero__title {
    font-size: 22px;
  }

  .header__hero--wrapper-pr-room {
    margin-top: 180px;
  }

  .aside__gallery {
    display: none;
  }

  .aside__gallery__img {
    padding: 0.313rem;
    width: 100%;
  }

  .header__hero-rooms {
    width: 100%;
  }

  .gallery-container__item {
    margin: auto;
    max-width: 300px;
    max-height: 300px;
  }

  .gallery-container__item--wrapper {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    max-width: 320px;
    max-height: 320px;
    margin-left: 6px;
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .gallery-container__item__footer {
    width: 100%;
    font-size: 1rem;
    padding: 2px;
  }

  .main__aside__aboutUs__img {
    max-width: 220px;
  }

  .main__content {
    display: flex;
    flex-direction: column;
  }

  .main__article--wrapper {
    display: flex;
    flex-direction: column;
  }

  .footer__rooms__explorer {
    display: none;
  }

  .footer__rooms__contacts__title {
    font-size: 24px;
  }

  .footer__rooms__contacts__list > :nth-child(3) {
    font-size: 10px;
  }

  .header__hero--wrapper-index,
  .header__hero--wrapper-rooms {
    margin-top: 20px;
  }

  .search-container {
    display: flex;
    flex-direction: column;
  }

  .search-container__form {
    display: flex;
    flex-direction: column;
  }

  .search-container__btn,
  .book-container__btn {
    margin: 0;
  }

  .body__container--wrapper-contacts {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .contacts__form--wrapper form {
    max-width: 100%;
  }

  .contacts__form--wrapper input, 
  .contacts__form--wrapper textarea {
    max-width: 70%;
  }

  .main__room-container {
    display: flex;
    flex-direction: column;
  }

  .main__room-list2 {
    padding: 50px;
    list-style-type: none;

  }

  .main__room-gallery {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .main__room-gallery img {
    width: 300px;
    height: 200px;
    }

    .header__hero__title {
      font-size: 40px;
    }
}
